@using MvcUtilitys;
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav-topZ" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">YoRent</a>
                <a class="navbar-brand" href="/home/cars">Cars</a>
            </div>
            <div class="navbar-collapse collapse" id="mainNav">
                @{
                    if (!Session.IsPremited(Entity.Premission.User))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/account/login">Login</a></li>
                            <li><a href="/account/register">Register</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/account/logout">Log Out</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li><a href="/account/Orders">My Orders</a></li>
                        </ul>
                        if (Session.IsPremited(Entity.Premission.Employee))
                        {
                            <ul class="nav navbar-nav">
                                <li><a href="~/Employee/ReturnCar">Return Car</a></li>
                            </ul>
                            if (Session.IsPremited(Entity.Premission.Manger))
                            {
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">Manager</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/admin/branchmanager">Manage Branches</a></li>
                                            <li><a href="~/admin/carmanager">Manage Cars</a></li>
                                            <li><a href="~/admin/cartypemanager">Manage Car Types</a></li>
                                            <li><a href="~/admin/ordermanager">Manage Orders</a></li>
                                            <li><a href="~/admin/usermanager">Manage Users</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        }
                    }
                }

            </div>
        </div>
    </div>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/CustomScripts/Utility.js"></script>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/scripts/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>-
</body>
</html>